.p-password input {
    width: 15rem;
}
   

.SignupContainerLarge{
    flex-direction:  column !important;
}



@media screen and (max-width: 992px) {
    .ImageResize{
position: fixed !important;
top:0;
z-index: -1;
width: 100vw !important;
    }


    .mlpx + .p-password{
        position: relative;
    display: block !important; 
    /* margin-left: -150px !important; */
    margin: auto;
    width: 100vw !important;
}
    

    .mlpx{
        margin-left: 0px !important;
    }
    .FormSignup{
        width: 100vw !important;
        display: flex;
        flex-direction: column;
    }

.ggBtn{
    margin: auto !important;
    margin-top: -100px !important;
}

    .paintOn{
        backdrop-filter: blur(2.5px) !important;
        opacity: 10 !important;
        background-color: #ffa5000f !important;
height: 100vh !important;
margin: auto;
width: 100% !important;
    }
.tshadow{
    text-shadow:   1px 1px #ff5555;;
}

.bgL{

width: fit-content !important;
margin: auto !important;
margin-left: 25% !important;
}



 
}




.LogoLogin{
    background: transparent !important;
    }
       

@media screen and (min-width: 993px) {
    .SignupContainerLarge{
        flex-direction:  row !important;

    }


    .textC{


text-align: center !important;

    }
}


.Sig >.p-inputtext {
    padding-right: 2.5rem;
    width: 60% !important;
    margin: auto;



}

